@model IEnumerable<Dal.Flyght>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>
            <div class="col-sm-6 col-md-3">
                <div>
                    <img src="@item.CityFrom.Image" alt="@item.CityFrom.Name" style="width: 150px; height: auto;" class="img-rounded">
                </div>
                <div class="caption">
                    <h3>@item.CityFrom.Name</h3>
                </div>
            </div>
        </td>
        <td>
            <div class="col-sm-6 col-md-3">
                <div>
                    <img src="@item.CityTo.Image" alt="@item.CityTo.Name" style="width: 150px; height: auto;" class="img-rounded">
                </div>
                <div class="caption">
                    <h3>@item.CityTo.Name</h3>
                </div>
            </div>
        </td>
        <td>
            <div class="col-sm-6 col-md-3">
                <div>
                    <img src="@item.Plane.Image" alt="@item.Plane.Model"  style="width: 150px; height: auto;" class="img-rounded">
                </div>
                <div class="caption">
                    <h3>@item.Plane.Model</h3>
                </div>
            </div>
        </td>
        <td>
            <h3>
                @item.Date
            </h3>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
        </td>
        <td>
            @Ajax.ActionLink("Delete", "Delete", new { id = @item.Id }, new AjaxOptions() { UpdateTargetId = "tabledata", OnSuccess = "alertify.success('Deleting success');" }, new { @class = "btn btn-warning" })
        </td>
    </tr>
}
