@model Aeroport.Models.LocalPasswordModel

<h3>Change password Form</h3>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        <label for="oldPassword" class="control-label">@Html.LabelFor(m => m.OldPassword)</label>
        @Html.PasswordFor(m => m.OldPassword, new { id = "oldPassword", @class = "form-control",placeholder="Enter old password" })
    </div>
    
    <div class="form-group">
        <label for="newPassword" class="control-label">@Html.LabelFor(m => m.NewPassword)</label>
            @Html.PasswordFor(m => m.NewPassword, new { id = "newPassword", @class = "form-control",placeholder="Enter new password" })
    </div>
    
    <div class="form-group">
        <label for="confirmPassword" class="control-label">@Html.LabelFor(m => m.ConfirmPassword)</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { id = "confirmPassword", @class = "form-control",placeholder="Confirm new password" })
    </div>

    <input type="submit" value="Change password" class="btn btn-success form-control" />
}
