@model Aeroport.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { id = "userName", @class = "form-control",placeholder="Enter user name" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { id = "password", @class = "form-control",placeholder="Enter password" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control",placeholder="Confirm password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    
    <input type="submit" value="Register" class="btn btn-success form-control"/>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
